<!DOCTYPE html>
{% load static %}
{% load tags %}


<html lang="en" data-bs-theme="{% theme %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_block %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% block head_block %}{% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'toonkor_collector2:library' %}">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'toonkor_collector2:browse' %}">Browse</a>
                </li>
            </ul>
            <!-- SEARCH BAR -->
            <form class="d-flex flex-grow-1" style="max-width: 1000px;">
                <input id="search" class="form-control me-2 w-100" type="search" placeholder="Search, enter MangaDex or Toonkor url" aria-label="Search" name="searched">
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item fs-3">
                    <i class="bi bi-gear" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--SETTINGS OFFCANVAS--> 
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Settings</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
        <div class="d-flex" role="fetch">
            <input class="form-control me-2" type="fetch" aria-label="Toonkor Url" value="{% toonkor_url %}">
            <button class="btn btn-outline-success" type="submit">Fetch</button>
        </div>
        <div class="form-check form-check-reverse form-switch w-auto text-start justify-content-between mt-3">
            <label class="form-check-label" for="flexSwitchCheckDefault">Auto fetch Toonkor URL</label>
            <input class="form-check-input">
        </div>
        <div class="form-check form-check-reverse form-switch w-auto text-start justify-content-between mt-3">
            <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
            <input class="form-check-input" id="theme-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
        <div class="form-check form-check-reverse form-switch w-auto text-start justify-content-between mt-3">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display Manhwa Details in English</label>
            <input class="form-check-input" type="checkbox" role="switch">
        </div>
  </div>
</div>

<br/><br/>

<br/><br/>
<!-- MAIN -->
<main>
    {% block body_block %}{% endblock %}
</main>
    <!-- FOOTER -->
     <footer>
        {% block footer_block %}
        {% endblock %}
     </footer>

    
<script src="{% static "js/jquery-3.6.0.min.js" %}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static "js/settings.js" %}" crossorigin="anonymous"></script>
{% block script_block %}
{% endblock %}
</body>
</html>
