{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {{ manhwa.title }}
{% endblock %}

<!-- HEADING -->
{% block body_block %}

<div class="container">
    <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-lg-4">
            <img src="{{ manhwa.thumbnail_url }}" class="img-fluid rounded-start" alt="{{ manhwa.title }} thumbnail">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ manhwa.title }}</h5>
              <p class="card-text">{{ manhwa.description }}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-5" id="add_library" value="{{ manhwa.slug }}">
        Add to Library
      </button>
      <div class="list-group mt-5">
        {% for chapter in manhwa.chapters %}
        <a href="{{ chapter.url }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Chapter {{ chapter.index }}</h5>
            <small>{{ chapter.date_upload|timesince }} ago</small>
          </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block script_block %}
  <script src="{% static "js/manhwa.js" %}" crossorigin="anonymous"></script>
{% endblock %}