{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title_block %}
    Library
{% endblock %}

<!-- HEADING -->
{% block body_block %}

<div class="container">
    {% if manhwas %}    
    <div id="manhwa-block" class="row row-cols-1 row-cols-md-4 g-4">
        {% for manhwa in manhwas %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ MEDIA_URL }}{{ manhwa.thumbnail }}" class="card-img-top" alt="{% display_title manhwa %} thumbnail">
                <div class="card-body">
                    <a href="{% url 'toonkor_collector2:library_manhwa' manhwa.slug %}" class="link-title stretched-link">
                        <h5 class="card-title">{% display_title manhwa %}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    

    {% else %}
    <div class="text-center my-5">
        <p class="display-1 text-muted">¯\_(ツ)_/¯</p>
        <h4>No manhwas are in the library.</h4>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script_block %}
<script src="{% static "js/library-search.js" %}" crossorigin="anonymous"></script>
{% endblock %}